#app{
    font-family: 'Montserrat', sans-serif;
}
.router-link-exact-active{
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
.img-hero{
    float: right;
}
.btn-success{
    background-color: #4EB883;
}
.badge-success{
    background-color: #4EB883;
}
.card-product{
    border-radius: 15px ;
}
.card-product:hover{
    transform: translateY( -3px ) scale( 1.04 ) rotateX( 10deg );
    box-shadow: 0 8px 16px 3px 
}
.card-img-top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 200px;
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
}
.breadcrumb-item.active{
    font-weight: bold;
    color: black;
}
.img-fluid{
    border-radius: 15px;
}
.img-keranjang{
    border-radius: 15px;
    height: auto;
}
.img-keranjang-dekstop{
    border-radius: 15px;
    height: 180px;
}